[2016-06-24 10:23] cdeil opened #3 "Improvement for http://gamma-sky.net/"
@vorugantia - I suggest the following changes to http://gamma-sky.net/
- For me, the canvas doesn't fill the browser window exactly. There's some small space on the top and left that's unused, and some of the canvas at the right and bottom is cut off in Chrome. Do you see the same? Can you try to fix it?
- Change default image to Fermi color
- Change default coordinate system from ICRS to Galactic

[2016-06-24 10:26] cdeil commented on #3
Also -- change color map to inverse rainbow.

(Just kidding ... please don't!)
:-)

[2016-06-24 16:01] vorugantia commented on #3
Done

[2016-06-24 16:01] #3 closed, assigned to nobody

[2016-06-24 20:41] cdeil opened #7 "AL map freezes during catalog load"
I noticed that the Aladin Lite (AL) map freezes for a second while the Fermi catalog is loading.
@vorugantia - Can you try and play around with this and see if this can be avoided?

The goal is that the map is responsive ASAP and that other info, like this catalog, gets displayed whenever it arrives.

(I didn't look myself how the catalog loading works ... is `A.catalogFromVizieR` or `aladin.addCa

[2016-06-24 20:49] cdeil opened #8 "Catalog data panel"
It would be nice to have a "data panel" at the side (example: http://sky.esa.int/ has a data panel at the bottom) that displays some catalog data as a table (example: http://gammapy.github.io/web-experiments/?cat=2FHL&source=2) when I click on a given source.

I like the idea of starting with almost 100% of the space for the map, and then to only reduce screen space for the map when the user asks

[2016-06-24 20:54] cdeil opened #9 "Add router"
It would be nice to be able to "share" a given view / state of gamma-sky.new with others.
The easiest way would be if we have a router and the state of the app (or part of it, like the map position and zoom level) could be encoded in the URL.

Examples:
http://gammapy.github.io/web-experiments/?cat=2FHL&source=2
http://aladin.u-strasbg.fr/AladinLite/?target=&fov=3.00&survey=P%2FFermi%2Fcolor
https

[2016-06-24 20:59] vorugantia commented on #7
@cdeil - `A.catalogFromVizieR` is causing the freeze. It's taking so long because we set the catalog to load on the entire map. The field of view attribute is set to 180 right now but if you set it to a low number like 5, AL loads much faster.

I'm not sure how we can prevent the lag while still displaying all labels... we'll have to figure something out. I can look into it this weekend.

[2016-06-29 06:52] cdeil opened #10 "Initial project setup"
I think these are the main steps to set up the gamma-sky.net project in a good way:
- [x] Use https://cli.angular.io/ to set up a default project (doesn't have to contain a webpage yet). This should be done in the `master` branch and then the `ng github-pages:deploy` should deploy the app to the `gh-pages` branch.
- [x] Add a `README.md` with some info how the setup works and how to contribute
- [

[2016-06-29 07:06] cdeil opened #11 "Produce Fermi all-sky HEALPIX high-energy images"
For the http://gamma-sky.net/ webpage we want to produce all-sky HEALPIX high-energy images.

We'll then convert those to http://aladin.u-strasbg.fr/hips/ and serve them as default image instead of the one from http://alasky.u-strasbg.fr/Fermi/Color/ which we use now.

My suggestion would be to make RGB images for the energy bands
- R = 10 -- 30 GeV
- G = 30 -- 100 GeV
- B = 100 GeV -- 1 TeV

Thes

[2016-06-29 07:26] cdeil opened #12 "Credits"
Before Gamma 2016 we should add a section where we give credit to people and projects that have helped create gamma-sky.

Here's the start of an incomplete list:
- MPIK for giving us time to work on this
- Github and gh-pages for serving our app for free.
- People:
  - Thomas from Aladin Lite
- Data sources:
  - Fermi-LAT for the data / tools
  - Planck
  - SNRCat
    Tools:
  - http://aladin.u-st

[2016-06-29 14:32] dankocevski commented on #11
Hi Chris,
  Are you sure the images that you have on the guthub repository are TS maps?  I looked at them only briefly, but they look more like counts maps.  Also, generating a TS map (i.e. a model significance map) for the entire sky over the entire lifetime of the mission would be an incredibly computationally intensive operation.  I think for your purposes, a simple all sky counts map, cut into

[2016-06-29 15:00] cdeil commented on #11
It's either TS or SQRT_TS.
I did split into small patches and use a cluster to compute it.

I'd prefer HEALPIX to avoid the issues at the pole.
Of course if someone has images with any projection, that's mostly OK and I can reproject on HEALPIX and then there will be small errors near the poles.
The tool to generate HIPS (http://aladin.u-strasbg.fr/hips/#tools) does reproject to HEALPIX as first s

[2016-06-29 19:28] cdeil commented on #11
I just talked to @olgaVorokh ([GSoC](https://developers.google.com/open-source/gsoc/) student for [Gammapy](https://gammapy.readthedocs.io/en/latest/) this summer). She will write a script to make Gauss-smoothed HEALPIX counts images from event lists using healpy, as a start on this task.

[2016-07-01 08:39] cdeil opened #13 "How to handle overlapping sources?"
There's a few sources where we have multiple catalog entries.
E.g. the Crab has two 3FGL and one 2FHL entry that's almost at the same position.

One has to zoom in very far to see that there's multiple markers:

![screen shot 2016-07-01 at 10 37 21](https://cloud.githubusercontent.com/assets/852409/16516338/d8385136-3f77-11e6-8862-d0f3b466c4d6.png)

I'm not sure how to make this better ... I know

[2016-07-04 17:44] cdeil commented on #11
We started a script here: https://github.com/gammapy/gammapy-extra/blob/master/experiments/healpix/fermi_counts_hpx.py

[2016-07-07 09:00] vorugantia commented on #7
No longer using `A.catalogFromVizieR` and instead loading local catalogs, so the issue has been resolved.

[2016-07-07 09:00] #7 closed, assigned to nobody

[2016-07-07 09:11] cdeil opened #14 "Add help and tutorial"
For now, we should add a help button next to the about button that opens up an overlay popup in the middle similar to http://www.chromoscope.net/ with some info on how to use the web page.

Later we could add a video showing how to use it (explore a few objects or regions) or a tour how to use the different widgets using http://bootstraptour.com/ or one of the other available options: http://ninod

[2016-07-07 10:40] vorugantia opened #15 "Add GRB source catalog to the website"

[2016-07-07 10:42] cdeil commented on #15
http://fermi.gsfc.nasa.gov/ssc/observations/types/grbs/lat_grbs/

[2016-07-07 12:43] cdeil commented on #11
Note to self: I moved the example dataset and script to here:
https://github.com/gammapy/gammapy-extra/tree/master/datasets/fermi_2fhl

[2016-07-07 18:49] cdeil opened #16 "Add "version" and "last modified" to the "About" popup"
I think we should have a version number (e.g. "version 0.1") and last modified date stamp (e.g. "July 7, 2016") in the "About" popup on the webpage.

This will be useful for us to see which version is deployed, but also for users.

A nice way to implement it is to store those pieces of info in a separate hand-written file `gamma-sky.info.json`.
That way it's under version control, and accessible b

[2016-07-07 18:51] cdeil opened #17 "Add SNRCat"
@vorugantia - I know you're already working on adding SNRCat.

Let me know when it's deployed (or do a pull request if you prefer), and then I'll review and we can use this issue to discuss.

[2016-07-07 19:01] cdeil opened #18 "Configure base image layer options"
Currently we have the following available images for the "base image layer":

![screen shot 2016-07-07 at 20 52 11](https://cloud.githubusercontent.com/assets/852409/16665670/bd06bd1e-4484-11e6-9f60-42b491c5acf7.png)

These aren't the most interesting images to compare with the gamma-ray sky.
We should configure it to something better, more like http://www.chromoscope.net/

It looks like that list

[2016-07-07 19:14] cdeil opened #19 "Add spectrum and lightcurve for 3FGL"
@dankocevski has produced PNG images for spectrum / lightcurve fore every 3FGL source for this webpage:
http://fermi.gsfc.nasa.gov/ssc/data/access/lat/4yr_catalog/3FGL-table/#aitoff

Example:
http://fermi.gsfc.nasa.gov/ssc/data/access/lat/4yr_catalog/3FGL-table/data/3FGL_lc_v5/3FGL_J0002d6p6218_lc.png

They can be accessed from the popup:
![screen shot 2016-07-07 at 21 11 33](https://cloud.githubu

[2016-07-08 23:16] cdeil opened #20 "Introduce source class controls for catalogs"
There's a lot of very bright sources on this low-energy Fermi-LAT images that we're currently using, that don't show up in the 2FHL catalog. Some of them are even blue, i.e. bright in the highest energy band on the image used.

I clicked on some of them, and as expected they are all pulsars (which have a steep cutoff in the spectrum).

It would be very nice to be able to select sources by souce ty

[2016-07-08 23:20] cdeil commented on #20
This is another interesting example. There's a cluster of 3FGL sources below the Galactic plane. What are they? Are they all unknown and low significance, i.e. maybe even fake? Or are there high significance and associated sources?

It would be great if one could investigate such questions by being able to display more information about the sources somehow (e.g. change marker colors or symbol or s

[2016-07-08 23:27] cdeil opened #21 "List of interesting objects / regions"
We should have a curated list of interesting objects or regions.

For now it could just be a list of source names in the docs, e.g.
- Crab nebula
- Galactic center
- Vela pulsar

Then later once we have a router these should be links to that view.

And even later, we could have a "guided tour" like http://www.worldwidetelescope.org/ for certain sub-classes of gamma-ray sources (e.g. pulsars, SNRs,

[2016-07-10 18:45] dankocevski commented on #19
Hi Christoph,
  Sure, the light curves and spectral plots are the official products of the 3FGL catalog, so feel free to use those links!

-Dan

[2016-07-11 13:44] cdeil commented on #17
This was implemented by @vorugantia .

[2016-07-11 13:44] #17 closed, assigned to cdeil

[2016-07-11 13:52] cdeil opened #22 "Add TeGeV catalog"
I've found this catalog of TeV sources: http://www.asdc.asi.it/tgevcat/

I don't know how good it is or if it's maintained.
But there's a CSV download option and maybe one can even get it as a VOTable?

I think for now we could use it for gamma-sky.net .

Tasks:
- [x] Download catalog and write a Python script to clean it and put it in a FITS file here: https://github.com/gammapy/gammapy-extra/tre

[2016-07-12 08:15] cdeil commented on #10
@vorugantia - I've added a Version 0.2 milestone:
https://github.com/gammapy/gamma-sky/milestone/3
Basically I think version 0.2 should be when we have moved to Angular, keeping the same webpage.

Then Version 0.3, 0.4, ... will be again about adding features ...

[2016-07-12 09:17] cdeil opened #25 "Download FITS images for given region"
Feature request from Dirk Pandel at the Gamma 2016 poster -- for a given region, have a "download as FITS image" button.

I completely agree, I would use that as well.

It's not clear how to implement it, it might be very complicated and require lots of development effort in Aladin Lite in JS.
Maybe we could provide a Python script that takes a given view (encoded as a URL or JSON blob) and genera

[2016-07-12 09:28] cdeil opened #26 "Set up Google analytics?"
Maybe we should set up Google analytics to track how much the page is used?
https://analytics.google.com/

I don't know if there are any drawbacks or concerns.

[2016-07-19 07:17] cdeil opened #31 "How to update dependencies?"
After merging #30 in master and updating my master, the app doesn't start any more.
There's an error mentioning an issue with promises and zone.js in the console.

First thing I tried was `npm install` to update dependencies.
This fails with an install error mentioning also promises and zone.js:
https://gist.github.com/cdeil/114617b86c910a38eb61d59a532acc0c#file-gistfile1-txt-L1044

Next I did `rm

[2016-08-02 14:30] cdeil opened #33 "Start an open TeV source catalog?"
We've been discussing the option of starting our own TeV source catalog because http://tevcat.uchicago.edu/ is not really open. They don't provide the option to download the catalog and from private communication I know that they don't want people to use the full TeV catalog data as they like, like in our case display it as part of the available info on gamma-sky.net .

When I thought about how to

[2016-08-03 10:46] vorugantia opened #34 "Implement some tests"
Right now, the spec.ts files generated by angular-cli's `ng generate` are not running any useful tests. We want to implement unit tests on each component's and service's specific variables, routes, etc.

See these guides:
- http://chariotsolutions.com/blog/post/testing-angular-2-components-unit-tests-testcomponentbuilder/
- https://medium.com/google-developer-experts/angular-2-unit-testing-with-ja

[2016-08-05 06:44] cdeil opened #36 "CSS styles"
Concerning yesterday’s discussion how to avoid duplication of css style code.

There’s a very simple solution … every component can have a list of styles from multiple css files applied by listing those files in `styleUrls`:

https://angular.io/docs/ts/latest/guide/component-styles.html#!#loading-styles

So every time we have shared styles, we can just add those in `css` files that are then applie

[2016-08-05 09:10] vorugantia commented on #36
In fact, `ng2-select` (which I'm looking into now) already uses `ng2-bootsteap` as a dependency, so perhaps it is the way to go for us. But I agree, we can figure out styling later.

[2016-08-05 09:11] cdeil commented on #36
👍  to pull in `ng2-bootstrap` and `ng2-select` now and get a minimal working, styled select box implemented.

[2016-08-07 19:36] cdeil commented on #34
We will not have time to figure out how to test an Angular app well and implement tests.

If possible, we should try to find the time to add a few very high-level tests
Navigate to a given URL and check that some content is on the webpage.

E.g. navigate to `/cat/2fhl/2` and check that `Source Name: 2FHL J0018.5+2947` is on the page.
@vorugantia - Do you know how to add such a test? Can you try to

[2016-08-07 19:38] cdeil commented on #19
@dankocevski - Great, thanks!

@vorugantia - Could you please add methods to the Fermi source classes (the ones that are independent of the Angular framework) that return the URL for the Fermi spectrum and lightcurve from @dankocevski 's webpage, and then add an `img` tag and show those in the source detail pages?

[2016-08-09 11:50] cdeil commented on #22
This is partly done in master.

I've added some docs here:
https://github.com/gammapy/gamma-sky/wiki/Datasets#tev-source-catalog

The main remaining things to do are to change the TeV source class and template so that it works for all sources and displays all info:
- https://github.com/gammapy/gamma-sky/blob/master/src/app/services/source.ts
- https://github.com/gammapy/gamma-sky/blob/master/src/a

[2016-08-09 18:13] vorugantia opened #48 "Load only relevant images into Aladin Lite dropdown"
Most of the default images loaded by Aladin Lite in the dropdown tool are not relevant to us, and instead we want to add other high-energy images to the dropdown, like those from the Planck satellite.

There is no information on configuring the dropdown in the Aladin Lite docs. In order to figure it out ourselves, here are important lines in `aladin.js`:
- [HpxImageSurvey.SURVEYS[]](https://github

[2016-08-09 19:40] cdeil opened #49 "Map share URL"
@vorugantia - I'm using the JS console at
http://aladin.u-strasbg.fr/AladinLite/doc/API/examples/AL-init-custom-options/
to play around with Aladin Lite a bit.

One method I noticed was this:

[code]

I'm not sure if / how we can use this for our app yet.
Maybe, as long as it's not connected to the router and app state, it could be exposed via a "share" button?

[2016-08-09 19:43] vorugantia commented on #49
I noticed it too today, forgot to tell you, but it would definitely be good to see if we can make use of it.

[2016-08-09 19:44] cdeil commented on #49
I'm not sure we can use it directly, if we want to keep control of the URL and use it for our router though. To be investigated ...

[2016-08-09 19:56] cdeil commented on #48
I had a quick look.

My understanding is that `aladin.updateSurveysDropdownList` is exactly what we want.

There's one example where it's called with the default array of objects `SURVEYS`, returned via `getAvailableSurveys`.

@vorugantia - Can you please try again and share the example where you tried calling `aladin.updateSurveysDropdownList`?

Maybe you could make a http://plnkr.co/ for that an

[2016-08-09 21:34] vorugantia commented on #48
@cdeil Here it is:

http://jsbin.com/kepogav/11/edit?js,console,output

[2016-08-09 22:05] cdeil commented on #48
This is what I think should work:
http://plnkr.co/edit/SshX90zQTWmJuujXXedz?p=preview
It doesn't.

[2016-08-11 09:48] vorugantia commented on #48
Issue has been resolved in #50.

[2016-08-11 09:48] #48 closed, assigned to nobody

[2016-08-11 15:13] vorugantia opened #52 "Convert Planck HFI FITS image to HiPS format"
Eventually, we will need to convert certain FITS images into HiPS format so that we can display them on our website. Here is one Planck HFI image that would be great to have:

http://irsa.ipac.caltech.edu/data/Planck/release_1/all-sky-maps/previews/HFI_SkyMap_857_2048_R1.10_nominal/index.html

When we want to learn how to generate an image in HiPS format, we can start with this one.

[2016-08-19 20:07] vorugantia opened #53 "Bug when clicking on SNRcat source"
Every time I click on an SNRcat source in MapView, all of the text in the toolbox and the about button text gets aligned to the right. See before and after pics below.

![snrcat_bug2](https://cloud.githubusercontent.com/assets/18579919/17822782/ef40dd50-6626-11e6-8903-d6a49a859a0d.PNG)

![snrcat_bug](https://cloud.githubusercontent.com/assets/18579919/17822781/e8e6f476-6626-11e6-922a-4fd89787e8a0.

[2016-08-25 09:15] cdeil commented on #33
I'm starting this here: https://github.com/gammapy/gamma-cat

The idea is that mostly TeV source data is collected there, and then it can be browsed with gamma-sky.net or analysed with Gammapy or people can do with it whatever they like.

[2016-08-25 15:18] cdeil commented on #22
Note to self: we should fix those issues in https://github.com/gammapy/gamma-cat and then just use the complete and clean catalog from there for gamma-sky.net.

Coming soon ...

[2016-09-16 07:58] cdeil opened #54 "Update to Angular 2 final"
Angular 2 final was realeased:
http://angularjs.blogspot.de/2016/09/angular2-final.html

We are currently on `2.0.0-rc.4` and should update.
- A big change was the introduction of `NgModules`, with info how to update here:
  https://angular.io/docs/ts/latest/cookbook/rc4-to-rc5.html
- Another big change was SystemJS -> webpack

I'm not sure how to best do the update yet.

I guess roughly the optio

[2016-09-16 23:22] vorugantia commented on #54
I should have time in the next few weeks to refactor the code. However, first I want to use my time to finish the paper for the website. Once that has been done, I can get started with updating our code.

I'm also not sure if we should start from scratch or just make changes to our current app...

[2016-09-29 17:16] vorugantia opened #55 "Add ROSAT and XMM Newton x-ray images"
Reminder to add ROSAT and XMM Newton x-ray images to the website.

http://cade.irap.omp.eu/documents/Ancillary/4Aladin/RASS/

http://skies.esac.esa.int/XMM-Newton/EPIC-RGB/

[2016-10-07 06:54] cdeil opened #56 "Submit Gamma 2016 to ArXiv"
@vorugantia - this is a reminder issue to submit the Gamma 2016 to ArXiv, after deploying version 1.0 of gamma-sky.net

Select "LaTeX" version and upload this single file:
https://github.com/gammapy/gammaskynet-gamma2016/blob/master/proceeding/gammaskynet-gamma2016.tar.gz

We can use this issue to discuss if there are any questions or problems.

[2016-10-31 10:48] cdeil commented on #53
Putting 0.2 milestone for now (which is the next release we deploy soon).
@vorugantia - Doesn't sound critical, feel free to move the issue to 0.3 or even later.

[2016-10-31 11:05] cdeil commented on #10
I'm closing this old issue now.
With #57 this will be all done, I think.

[2016-10-31 11:06] cdeil commented on #54
Closing this old issue now.
@vorugantia did this in #57

[2016-10-31 11:06] #54 closed, assigned to vorugantia

[2016-10-31 11:09] cdeil commented on #33
This is well on it's way:
- https://github.com/gammapy/gamma-cat
- https://github.com/gammapy/adass2016-gamma-cat-poster/blob/master/adass2016-gamma-cat-poster.pdf

I'm closing this old issue here in the `gamma-sky` issue tracker now.
We still need to change `gamma-sky.net` to use `gamma-cat`, but that's a separate task.

[2016-10-31 11:09] #33 closed, assigned to cdeil

[2016-10-31 11:10] cdeil commented on #22
I'm closing this old issue concerning  http://www.asdc.asi.it/tgevcat/ now.

The plan is to switch to https://github.com/gammapy/gamma-cat in the coming days.

[2016-10-31 11:10] #22 closed, assigned to vorugantia

[2016-10-31 11:13] cdeil commented on #8
Changing milestone to "wishlist".

It's much more important for now to flesh out the catalog source detail views with all available info, and to add the option to link to them from the map popups.

[2016-10-31 11:14] #10 closed, assigned to cdeil, vorugantia

[2016-11-01 09:54] cdeil opened #58 "Update TeV catalog to gamma-cat"
We should update the TeV catalog to gamma-cat.

This should be the input file ... I need to add some more info there first:
https://github.com/gammapy/gamma-cat/blob/master/docs/data/gammacat.ecsv

For now I skip the TeV catalog function here:
https://github.com/gammapy/gamma-sky/commit/38344d34e09f129871e29c531146b796e6578e29#diff-076f78bf1d6809bc8d45d25d7565f077R20

I'm assigning this to myself

[2016-11-01 23:57] vorugantia commented on #55
These two images have been added in commit d654e915. Closing issue...

[2016-11-01 23:57] #55 closed, assigned to vorugantia

[2016-11-02 00:09] vorugantia commented on #53
Fixed in commit 8c9d3b113f59d1b6d58bc241745b7045b60f3193. Closing issue...

[2016-11-02 00:09] #53 closed, assigned to vorugantia

[2016-11-07 00:08] vorugantia commented on #18
This issue is old and we've figured out how to show only certain maps. But we haven't added any images from INTEGRAL yet, as you mentioned above. Should we still add one, or both of them?

[2016-11-07 00:14] vorugantia opened #59 "Which catalog markers to show on page load?"
Currently, Aladin Lite is showing all catalog markers by default on the map, which is getting a little cluttered:

![capture](https://cloud.githubusercontent.com/assets/18579919/20043081/ab911360-a454-11e6-907d-c6a65dd543ca.PNG)

However, now (thanks to Thomas Boch) I found the workaround to hide certain catalogs on page load (while still keeping the check-box in the toolbar to re-enable them). @c

[2016-11-07 09:33] cdeil commented on #59
Maybe only show the image, no catalog at all on page load?

That seems like the cleanest solution, and will also work best as we add more catalogs (HAWC, 4FGL, ...).

I don't feel strongly though, so @vorugantia if you prefer something else, just go ahead and put what you like.

[2016-11-07 10:21] cdeil commented on #18
+1 to add one or both INTEGRAL maps.

@registerrier - Which one would you recommend?
- http://alasky.u-strasbg.fr/INTGAL/INTColor/
- http://skies.esac.esa.int/Integral/color/

[2016-11-07 10:58] registerrier commented on #18
The second one looks better (less secondary features, more sky coverage, more recent).
You also have the maps in the 3 energy bands available
- http://skies.esac.esa.int/Integral/20-35/
- http://skies.esac.esa.int/Integral/35-65/
- http://skies.esac.esa.int/Integral/65-100/

[2016-11-07 11:16] cdeil commented on #18
@vorugantia - Can you add the second one.

You could also mention the extra ones @registerrier mentioned here:
https://github.com/gammapy/gamma-sky/wiki/Datasets#images
and make an issue that eventually the image selection should be changed so that loading an arbitrary HIPS image from http://aladin.u-strasbg.fr/hips/list should be possible, i.e. the Aladin Lite base image widget should be wrapped

[2016-11-07 19:20] vorugantia commented on #59
Maybe we should just show the TeV catalog, since that's the main one we want to feature. We can always change this later.

Implemented in 31717f3e3c7bbd2ebebf8b7f3d027b1f9b199ecf.

[2016-11-07 19:20] #59 closed, assigned to vorugantia

[2016-11-07 19:41] vorugantia commented on #18
Added the second Integral map in 31717f3e3c7bbd2ebebf8b7f3d027b1f9b199ecf. I'll also open the new issue.

[2016-11-07 19:41] #18 closed, assigned to vorugantia

[2016-11-07 20:08] vorugantia opened #60 "Load any image from HiPS database"
For image selection in the Map View, we should probably find a way to load any HiPS image from the [CDS database](https://github.com/gammapy/gamma-sky/wiki/Datasets#images) without having to define them all in `surveys.ts` like we currently are. We could then implement a `ng2-select` to go through the names of all the HiPS images from this database. This would give the user a much greater selectio

[2016-11-08 07:29] cdeil commented on #60
@tboch - Is this something you could implement as a feature in Aladin Lite? Instead of having a pre-defined base map list, have a more fancy select field where there are pre-defined maps, but then one can also search and select from the full list of maps at http://aladin.u-strasbg.fr/hips/list somehow? Or should we try to implement this on our side, for gamma-sky.net?

I think it would be really g

[2016-11-14 20:54] tboch commented on #60
yes, having something along these lines is planned, namely being able to :
- choose HiPS to be displayed in the initial select list
- search a HiPS by name/description and add it to the list

[2016-11-29 07:41] cdeil commented on #58
By now `gamma-cat` has evolved a bit. I think, at least for now, we should use [gamma-cat/docs/data/gammacat.fits.gz](https://github.com/gammapy/gamma-cat/blob/master/docs/data/gammacat.fits.gz) as input, and dump the info we want to display on gamma-sky.net to a JSON file just like we do for the Fermi-LAT catalogs via the scripts in [gamma-sky/gammasky/catalogs.py](https://github.com/gammapy/gamm

[2016-11-29 12:44] vorugantia commented on #58
Yes, I can get started this week and see where I get.

[2016-12-23 23:20] vorugantia opened #62 "Add information to TeV source detail page"
In our old TeV catalog, we listed all extension, spectral, and distance info for each source's detailed view in `CatViewComponent`. @cdeil formatted the HTML in `cat-source-tev.component.html` and implemented getter methods in `source.ts` to do so.

However, our new TeV catalog organizes its data differently, in columns with new names, and I'm not sure how we would want to present the information

[2016-12-31 13:18] cdeil commented on #62
Basically the info should be sorted by:
- General
- Position
- Morphology
- Spectrum
- References

There's some examples here how to create a link e.g. to TeVCat or (for now) and source input JSON file in gamma-cat: https://gammapy.github.io/gamma-cat/sources.html

And then it would be nice to have extra stuff like an SED plot (where available) or a small Aladin Lite image of the region (e.g. 3 x

[2016-12-31 13:24] cdeil opened #63 "Behaviour for invalid routes"
I tried some invalid routes.

E.g. `http://localhost:4200/spam` results in a white screen and a JS error in the console.

E.g. `http://localhost:4200/cat/tev/999` results in an empty source detail view.

@vorugantia - Can we do better?

I think a 404 "not found" page is pretty standard and shouldn't be hard to implement in the router?
(see https://github.com/spam/spam for an example)
Or maybe it i

[2016-12-31 13:26] cdeil commented on #58
I'm closing this issue now.

This was done by @vorugantia in #61 and there's #62 still open for further discussion / work.

[2016-12-31 13:26] #58 closed, assigned to cdeil, vorugantia

[2016-12-31 17:41] vorugantia commented on #62
@cdeil - I don't think I can add info for Morphology and Spectrum because there are just too many colnames for e.g. spectral data (starting with "spec") and I'm not sure which info is important/how to display it all. So if you could get that out of the way when you are free, I can go ahead and add SED plots and Aladin Lite images.

[2017-01-17 21:05] cdeil opened #64 "More relevant HIPS images"
I was just checking out the new http://cdsportal.unistra.fr/ by looking at ~ 10 x 10 deg centered on Vela X, trying to find surveys where the Vela X PWN or Vela Jnr SNR show up.

One that would be interesting to add to the list of "curated" surveys of interest for gamma-ray astronomers could be this Suzaku image: http://darts.isas.jaxa.jp/pub/judo2/HiPS/suzaku/

Just making this reminder issue so

[2017-01-24 17:47] cdeil commented on #56
@adonath and I just now found out that the gamma-sky.net proceeding is online and not behind a paywall:
http://aip.scitation.org/doi/pdf/10.1063/1.4969002

Apparently it's not included in ADS yet, but presumably this will automatically happen in the coming weeks:
https://ui.adsabs.harvard.edu/#search/fq=%7B!type%3Daqp%20v%3D%24fq_author%7D&fq_author=(author_facet_hier%3A%220%2FDeil%2C%20C%22)&q=de

[2017-01-24 17:51] cdeil commented on #26
@vorugantia - Could you please look into this task? Maybe read a bit about how it works, or even try it out for some dummy separate page you put on Github pages?

I think it's very important to have at least the basic information on how many visitors gamma-sky.net has, i.e. whether anyone is using it.

[2017-01-24 18:22] cdeil opened #65 "Add GLEAM images"
I just now saw the GLEAM survey images here:
http://www.nature.com/news/gleam-highres-composite-jpg-7.41222?article=1.21156

Looking here, it seems that they have nice images of some supernova remnants and other Galactic emission components (scroll down to the GLEAM wavelength):
http://gleamoscope.icrar.org/gleamoscope/trunk/src/

There's descriptions here:
http://www.mwatelescope.org/science/glea

[2017-01-24 18:39] cdeil opened #66 "gamma-sky.net and gamma-cat logos"
@vorugantia - I wanted to ask you if you'd be interested in making a logo and banner for gamma-sky.net, and maybe also for gamma-cat?

If you don't have time or aren't interested, I can do this in the coming days.

My idea would be that we do something similar like I did for Gammapy:
![](https://raw.githubusercontent.com/gammapy/gammapy-extra/master/logo/gammapy_banner.png)

Overall it's quite a b

[2017-01-25 02:19] vorugantia commented on #56
I agree that we don't need to post to ArXiv anymore. I'll update the docs now.

[2017-01-25 04:37] vorugantia commented on #66
I can help with the logo. Only thing is we would want it to look similar in style to Gammapy's logo, which it seems you made on Omnigraffle. The tool works on Mac but not Windows, so I would have to pick another graphics tool. Perhaps you should put together the logo in the same tools you already have, but I can supply the sphere graphic. Then you can put the gamma letter (the same one you used fo

[2017-01-25 07:36] cdeil commented on #56
Thanks!
Closing this issue now.

[2017-01-25 08:07] cdeil commented on #66
I used Omnigraffle at the time, but I never liked it much, and now would use a free tool like https://inkscape.org or https://vectr.com

The ideal solution would be to have a Python / matplotlib script to create the files, so that it's reproducible if we ever have to or want other formats or change something. Re-doing the manual steps and trying to get e.g. the border or the images right is painfu

[2017-01-25 08:15] cdeil commented on #66
I just now saw that scikit-image took their snake image from https://pixabay.com/
They seem to have almost a millon images and vector graphics in high quality, completely free even for commercial use, not requiring attribution.

So I think we should search around there first, instead of trying to draw something ourselves.

Look, they even have cats:
https://pixabay.com/en/photos/?image_type=vector

[2017-02-13 09:37] cdeil commented on #56
I'm re-opening this issue.

So what happened is that AIP gave free access for a month, but from now on (indefinitely?) the PDF is behind a paywall. Frank suggested we post on ArXiv, and we should do that.

@vorugantia - I would still suggest we work on the webpage a bit more. To be concrete, I think we should have this in place when we post on ArXiv (that's going to be the day when most astronomer

[2017-06-10 22:05] cdeil commented on #66
I'd like to finally make the logos and banners for gamma-sky.net and gamma-cat now.

I've played a bit with this, and so far my favourite would be to use the sphere from https://pixabay.com/en/logo-logotype-sphere-summer-sun-2150297/ which gives this:

![image](https://user-images.githubusercontent.com/852409/27006611-a4285ac8-4e38-11e7-9880-394130867acf.png)

It's just a quick draft, text placeme

[2017-06-11 22:30] vorugantia commented on #66
@cdeil - I am a big fan of this logo, I really like it! The sphere you chose is my favorite mainly because of the color. I guess we could just use the same gradient on the other spheres but the shape of the one you chose looks nice as well. I would work with this design.

Also, I know I was supposed to try making the logo first - I'm sorry about that. if there is anything you would like me to edit

[2017-06-12 09:46] adonath commented on #66
Thanks @cdeil! I also like the logo very much!

Out of curiosity (corporate design and bla..): could you make one version of the logo that is even more similar to the Gammapy one? E.g. choose the same colour for the gamma at the beginning and highlight the "gamma-ray" with this colour too. For the sphere and font one could use the dark grey colour as in the Gammapy logo too.

[2017-06-13 21:44] cdeil commented on #66
@adonath - I started out with a version where the Gammapy is red, just like for Gammapy. It didn't work well with the other colors, and I'm not sure grey will work well.

My suggestion is that we finish this up together next week and make the final decision on colors.

FYI: this is my proposal for gamma-cat, there it was easy to keep the red from Gammapy:

![image](https://user-images.githubuserco

[2017-06-23 14:38] vorugantia commented on #26
This has been done - link can be found in the Wiki under the `Developer documentation` tab.

[2017-06-23 14:38] #26 closed, assigned to vorugantia

[2017-07-06 11:07] vorugantia opened #70 "Change styling to Angular Material"
Our current styling tools (Boostrap 3, ng2-select, etc.) are outdated and also not optimized for Angular. Although they still work fine, this would be the better alternative moving forward:

https://material.angular.io/

It's not a high-priority change, but eventually it would be nice to change to Angular Material for styling.

[2017-07-18 11:26] vorugantia commented on #34
High-level tests have been implemented in #77 and #79. These are `e2e` tests that route to a certain page and check for content, etc. Later on we can add unit tests, but I see that as lesser priority until we get all of the content on the webpage.

Closing this issue...

[2017-07-18 11:26] #34 closed, assigned to nobody

[2017-07-18 15:08] cdeil commented on #25
I'm not sure if there's a way to do it from our website.

But at the least we should point users to https://hips.readthedocs.io and https://github.com/cds-astro/ipyaladin from our docs, which will let them do this.

[2017-07-18 15:10] cdeil commented on #64
suzaku is added. no action item here. closing.

[2017-07-18 15:10] #64 closed, assigned to vorugantia

[2017-07-18 15:11] cdeil opened #80 "Control order of HiPS surveys in the image list"
It would be good to be able to control the order of HiPS surveys in the image list.

Most important is Fermi-LAT above 10 GeV, which should be at the top and default.
Then others, maybe sorted by photon energy, i.e. radio at the bottom?

![screen shot 2017-07-18 at 17 06 07](https://user-images.githubusercontent.com/852409/28324562-03a81d42-6bdc-11e7-80cc-85c2b5d0c6ac.png)

[2017-07-20 20:18] vorugantia opened #82 "Source search performance issues"
I'm currently looking for the solution to loading 5000+ items in our search bar and getting very slow performance. Loading the search entries and typing in the search bar need to be asynchronous processes. A virtual/infinite scroll seems to be the solution (basically loading search results as you scroll down).

If I were to write up a virtual scroll myself, it would take about 500 lines (and lots

[2017-07-20 20:49] vorugantia commented on #82
The alternative is to call an http get request on our `catalog.json` files and query by name - loading these search results should be an asynchronous process. This is more similar to what Google Maps does for their search bar.

[2017-07-21 06:03] cdeil commented on #82
I'm not sure what best to do ... just a few thoughts.

If you have a solution that kinda works, maybe leave as-is and move on to other features (route to map position), even if the select autocomplete is slow, and revisit this in the future when Angular material has implemented a solution for this.

---

Would changing the "result preview" list to be fixed-length first 5 or 10 hits like Google map

[2017-07-24 09:16] vorugantia commented on #82
In f07abc4fe6ce596b96aa1ea0f5ed754c484bec7b, on [this line](https://github.com/gammapy/gamma-sky/commit/f07abc4fe6ce596b96aa1ea0f5ed754c484bec7b#diff-1edc15eab5985f5a3cd69bd237ec05daR142), we only show the first 5 results that come from the search input. Now that we aren't loading thousands of items into the DOM but only five, the performance issue is gone.

Now the search field works similarly to

[2017-07-24 09:16] #82 closed, assigned to vorugantia

[2017-07-24 09:29] vorugantia opened #83 "Error loading data on source detail page from Angular Material searchbar"
I've noticed this bug that sometimes appears when searching for and routing to a source (and it happens every time on my phone):

![cat_error](https://user-images.githubusercontent.com/18579919/28516523-cfd95e4c-7061-11e7-8e4a-778bccc19b2a.PNG)

I believe it has something to do with the code trying to fill in the HTML template with source data before the Http get request comes in. It may have to d

[2017-07-24 09:31] vorugantia commented on #83
I'm trying various things to fix this in 9e00c908494d1c0970e4bf0122d6a5b270cecbf3.

[2017-07-24 10:23] vorugantia commented on #83
Appears to be fixed by 9e00c90. Closing...

[2017-07-24 10:23] #83 closed, assigned to nobody

[2017-07-28 16:18] #36 closed, assigned to nobody

[2017-07-28 16:19] vorugantia commented on #62
Done.

[2017-07-28 16:19] #62 closed, assigned to nobody

[2017-07-28 16:19] vorugantia commented on #49
Done.

[2017-07-28 16:19] #49 closed, assigned to nobody

[2017-07-28 16:20] vorugantia commented on #9
Done.

[2017-07-28 16:20] #9 closed, assigned to cdeil, vorugantia

[2017-07-28 16:21] vorugantia commented on #12
See [here](https://github.com/gammapy/gamma-sky/wiki/Datasets) and [here](https://github.com/gammapy/gamma-sky/wiki/Overview#acknowledgements).

[2017-07-28 16:21] #12 closed, assigned to vorugantia

[2017-07-28 16:22] vorugantia commented on #8
For now we have a separate view for the detailed data display. Maybe later we will want to change this view to a panel on the map...

[2017-07-28 16:22] #8 closed, assigned to nobody

[2017-07-28 16:25] vorugantia commented on #13
See the first Aladin Lite "issue" [here](https://github.com/gammapy/gamma-sky/wiki/Aladin-Lite-issues-and-feature-requests#issues). If we get access to control the order of markers to be displayed, then our problem will be solved.

[2017-07-28 16:25] #13 closed, assigned to nobody

[2017-07-28 16:27] vorugantia commented on #52
Due to time constraints, we will probably just do this for a Fermi image. We already have 3 Planck images from CDS' database.

[2017-07-28 16:27] #52 closed, assigned to nobody

[2017-07-28 16:29] #31 closed, assigned to nobody

[2017-07-28 20:46] vorugantia opened #88 "Appearance of website in Google search results"
This is what the website currently looks like in Google search results:

![search-result](https://user-images.githubusercontent.com/18579919/28735533-e9aead0e-73e5-11e7-8b14-8a6cc5394fbe.PNG)

See [here](https://support.google.com/webmasters/answer/35624?hl=en) for more information on what we can do to try and change the search results display. One thing we can do is  call `<meta name="nosnippets"

[2017-07-28 20:49] vorugantia commented on #63
For now, this issue can be closed. `http://gamma-sky.net/spam` has been fixed to re-direct to a `404.html` page. `http://gamma-sky.net/#/cat/tev/999` will just show an empty source detail page, but the page doesn't break - people can still search for a source in the searchbar.

[2017-07-28 20:49] #63 closed, assigned to vorugantia

[2017-07-28 22:10] vorugantia commented on #16
Version number was added in 2ccb2dde6c291e1f95157a280aef4ce4c6701e77.

Last modified date was added in d70db03c8790340e1d01ae1f2e2771cca958b2e3.

[2017-07-28 22:10] #16 closed, assigned to vorugantia

[2017-07-30 21:42] cdeil commented on #88
@vorugantia - I have no idea how to make gamma-sky.net more Google search friendly. If you or anyone else has the time to learn / figure out how to make it better, please comment here or just go ahead and make a pull request any time.

I think it might be non-trivial to get good results, because we have an Angular SPA and because our main page is mainly a canvas, not text. Personally I often searc

[2017-07-30 21:44] cdeil commented on #16
Thanks!
Can you include the version number increase in the checklist for deploy at the appropriate place (probably towards the start or the steps)?

[2017-08-31 09:58] cdeil opened #89 "Add HAWC 2HWC catalog"
Adding the HAWC 2HWC catalog to gamma-sky.net would be a nice addition.

See infos here: https://github.com/gammapy/gammapy/issues/887#issuecomment-322992469
which was the discussion leading to it added to `gammapy.catalog` (which is done).

[2017-09-13 08:44] joleroi opened #90 "Search prompt does work with 'common name'"
The search prompt in the catalog view of gamma-sky.net only works with the ``common name`` of a source.

For example if I want the VHE Energy source at the GC, I have to type 'Galactic Center', 'HESS J1745-290' does not work. This is confusing, because for other sources (e.g. HESS J1745-303) the "HESS name" is the common name so when I start typing 'HESS J...' I do get suggestions, they just don't

[2017-09-13 08:58] cdeil commented on #90
@joleroi - Agreed that this should be implemented.

The info is available in gamma-cat already in the "gamma_names" key:
[code]

https://github.com/gammapy/gamma-cat/blob/6c9a129f3d96d37e19888bc3efae69154d37dcf3/docs/data/gammacat.yaml#L9076

@vorugantia - How much work would it be to add the strings from "gamma_names" to the search field?
I never looked at your implementation and don't have time

[2017-09-13 12:36] joleroi opened #91 "3FHL sources show up with 2 different spectra"
For 3FHL sources, the webpage shows two different sets of spectral parameters

See e.g. http://gamma-sky.net/#/cat/3fhl/0

[code]

If there is a good reason for that it should be explained somewhere, because the way it is right now might confuse people.

[2017-09-13 12:42] cdeil commented on #91
Yes, this can be improved a bit. Assigning to myself. It's a bit related to https://github.com/gammapy/gammapy/pull/1127 which I had planned to finish up tomorrow anyways.

[2017-09-14 00:05] vorugantia commented on #90
#92 includes the implementation of more search entries for the TeV sources. We could do the same for 3FGL and 3FHL as well. @cdeil - have a look at the code, and then we'll merge the PR after review.

[2017-09-15 08:03] cdeil opened #93 "Commit package-lock.json ?"
@vorugantia - Should we commit `package-lock.json`?
I keep getting this warning:
[code]
and this file keeps getting generated and show up with git status:
[code]
So we should either commit it, or add it to `.gitignore`.

@vorugantia - I think we should just commit it, no? If you have time, could you read around a bit how it's used (i.e. how one updates it as new versions of the dependencies pinned

[2017-09-15 08:12] cdeil commented on #56
It's here now: https://arxiv.org/abs/1709.04217

Since the journal proceeding is still behind a paywall, I would suggest to change all links from the webpage / wiki docs to the arxiv version, which is open access and anyone can see it quickly. (or put both).

@vorugantia - Can you please do it?

[2017-09-15 08:25] cdeil opened #94 "Update typescript"
I'm deploying a new version just now.

One error I'm getting is this:
[code]

@vorugantia - Can you please try to upgrade (maybe in the same PR where you add the `package-lock.json`? Maybe it would be useful to add this production build command on travis-ci at the end?

[2017-09-15 08:43] cdeil opened #95 "About info should be visible on any page"
Currently the "About" button is only visible on the maps page.
It would be good if on any page on gamma-sky.net there would be some way to reach this info.
Concretely on this page it's not clear how to find out what this webpage is: http://gamma-sky.net/#/cat/tev/142

@vorugantia - What do you think is the best (or quickest) way to improve this? Copy the "About" button onto that view? Or add a foo

[2017-09-15 08:49] cdeil commented on #90
@joleroi - Please try again, I think this issue is resolved.

![screen shot 2017-09-15 at 10 48 57](https://user-images.githubusercontent.com/852409/30474311-8dd90918-9a03-11e7-9a7b-1345f3f35c2b.png)

[2017-09-15 08:56] #90 closed, assigned to nobody

[2017-09-15 12:46] cdeil commented on #91
@joleroi - Turns out that in 3FHL every source has a PL and CPL measured.
I've tried to make the display clearer in 22074c27 , it now looks like this:
---
<img width="563" alt="screen shot 2017-09-15 at 14 42 36" src="https://user-images.githubusercontent.com/852409/30482666-494a757c-9a24-11e7-9362-b19cadee1ca9.png">
---
This change is not deployed yet to the public webpage, it'll come with other

[2017-10-16 08:22] #91 closed, assigned to joleroi

[2018-05-28 01:58] tboch commented on #65
@cdeil : it seems that ICRAR already produced a HiPS:
http://ict.icrar.org/store/gleam/gleam_color/

[2018-06-14 12:42] cdeil opened #96 "Add CTA DC-1 GPS"
I've made a HiPS of the GPS simulation for CTA first data challenge:

http://christophdeil.com/hips-data/cta-dc1-gps/
http://christophdeil.com/hips-data/cta-dc1-gps/out
https://github.com/cdeil/hips-data

Would be nice to add it to gamma-sky.net

[2018-06-14 12:44] cdeil commented on #65
Indeed, http://ict.icrar.org/store/gleam/gleam_color/ is very nice.

We should add it to gamma-sky.net.

Their server seems to be very slow.

Maybe we should put a copy here, which is being served very fast:
https://github.com/cdeil/hips-data

@tboch - is there a command to "clone" or "download" a HiPS?

[2018-06-14 12:50] cdeil commented on #11
Just a note: if HiPS generation in Python doesn't become available soon (https://github.com/hipspy/hips/issues/119), then doing it via the Java hipsgen for Fermi-LAT is also possible. That's what we did for HGPS, see example here:
https://github.com/cdeil/hgps_webpage_public/blob/master/make_hips_survey_maps.py

[2018-06-14 13:38] tboch commented on #65
Yes, Hipsgen has a dedicated command `-clone mirror` for this.
Example:

`java -jar Hipsgen.jar  in="http://ict.icrar.org/store/gleam/gleam_color/" out=my_local_path -clone mirror`

[2018-06-14 14:43] cdeil commented on #65
@tboch - Thanks for the tip with `-clone mirror`

Looks like the option is not documented:
https://gist.github.com/cdeil/0a920bdae417e92cfe33a47790000cec

It's a few GB and takes an estimated 3 hours to clone, which is not really what I wanted.

Is there any way to only clone order 3 and 4, but not order 5?
Or restrict the region to only download the tiles for the Galactic plane?

I think HiPS clo

[2018-06-14 16:54] cdeil commented on #65
I made a clone and put it here: https://github.com/cdeil/hips-gleam-data

I did remove `Norder5`, because looking visually, it didn't contain extra info compared to `Norder4`:
[code]
`Norder3` contains most info, but is visibly lower resolution, i.e. point sources are just spread across a few pixels.

[2018-06-14 17:01] tboch commented on #65
you can use the option `hips_order=...` to restrict the maximum order you want to download.

[2018-06-29 12:16] cdeil commented on #11
@adonath - as discussed, please move https://github.com/gammapy/gamma-sky/blob/master/gammasky/maps.py to your repo, and also remove the FErmi map fetch here:
https://github.com/gammapy/gamma-sky/blob/22074c27ed8692dd8c6ba48011a1888820352594/gammasky/fetch.py#L31
and then we simply access Fermi-LAT HiPS from gamma-sky.net, but producing them is part of the other project / repo.

[2018-06-29 12:18] cdeil commented on #96
I'm closing this issue. Thinking about it again, I don't think we should show data on gamma-sky.net that doesn't have a proper discription/publication associated.

That HiPS is still visible at http://christophdeil.com/hips-data/cta-dc1-gps/, but I'd not suggest adding it to gamma-sky.net any more.

[2018-06-29 12:19] #96 closed, assigned to nobody

[2019-05-09 19:04] ShankariManohar commented on #93
You can use "git add -A" in cmd to commit the package-lock.json